pyOpenSSL==21.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
cryptography==3.3.2
enum34==1.1.10
funcsigs==1.0.2
httpie==1.0.3
edgegrid-python==1.2.1
idna==2.10
ipaddress==1.0.23
mock==3.0.5
ndg-httpsclient==0.5.1
pkg-resources==0.0.0
pyasn1==0.4.8
pycparser==2.21
Pygments==2.5.2
requests==2.27.1
six==1.16.0
urllib3==1.26.9